@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.about-main-content{
    font-family: 'jost',sans-serif;
}
.about-top {
    font-family: 'Cinzel',sans-serif;
    background-image: url("../Media/01ca5ec396be5314e2d8d485cda5b389.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    display: flex;
    margin-bottom: 110px;
    font-weight: normal;
}
.about-top>h1 {
    font-size: 62px;
    color: black;

}
.about-section {
    padding: 0px 15px 0px 15px;
    position: relative;
}
.about-container {
    max-width: 1140px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.about-column {
    position: relative;


    width: 50%;
}

.about-element {
    width: 100%;
    text-align: left;
}
.about-widget-image img {
    vertical-align: middle;
    display: inline-block;
    width: 90%;
    max-width: 100%;
    height: auto;
    padding: 0px;
    float: right;
    background-image:  url("../Media/about-background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

}
.about-element>p{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.45);
}
h1{
    font-family: 'Cinzel', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    font-size: 50px;
}
p{
    margin: 0px;
    font-size: 16px;
}
.about-element-flex{
    width: 50%;
    float: left;
    text-align: center;

}
.about-element-flex-01{
    background-color: #f8f8f8;
    margin: 30px 20px 20px 0px;
    padding: 40px 30px 40px 30px;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #D9D9D938;


}
.about-element-flex-02{
    background-color: #f8f8f8;
    margin: 30px 0px 20px 20px;
    padding: 40px 30px 40px 30px;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #D9D9D938;

}
.about-element-flex-03{
    background-color: #f8f8f8;
    margin: 20px 20px 0px 0px;
    padding: 40px 30px 40px 30px;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #D9D9D938;

}
.about-element-flex-04{
    background-color: #f8f8f8;
    margin: 20px 0px 0px 20px;
    padding: 40px 30px 40px 30px;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #D9D9D938;
}

