@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}/* phần thân (body)*/
body{
    font-size: 15px;
    font-family: 'Roboto',sans-serif;
    background-color: #fafafa;
    font-weight: 400;
    text-align: center;
}
a{
    text-decoration: none;
}
/* phần ảnh nền background*/
div.elementor-widget-container{
    background-image: url("../Media/nen1.png");
    background-repeat: no-repeat;
    background-size: 100% ;
    height: 400px;
}/* phần icon (fb,twitter,tiktok...)*/
.header {
    text-align: left;
    background-color: whitesmoke;
    letter-spacing: 3px;

}
/*phần nav menu*/
.nav {
    background-color: #fafafa;
    height: 65px;
}
.section{
    width: 100%;
    font-size: 80%;
}
.container{
    float: none;
    width: 1200px;
    margin: 0 auto;
}
.menu li{
    float: left;
    text-align: center;
    margin-right:20px;
}

li{
    list-style: none;
    padding: 15px;
}
img{
    max-width: 20%;
    float: left;
    padding-right: 30px;
}

/*phần phông chữ trong nền background*/

.elementor-widget-container{
    font-size: larger;
}
.elementor-widget-container>div{
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.text-wrapper {
    text-align: center;
}
.target{
    font-size: 13px;
    color: crimson;
}
.target1{
    font-size: 31px;
}
.target2{
    font-size: 15px;
}
button{
    background: black;
    color: white;
}
