@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}/* phần thân (body)*/
body{
    font-size: 17px;
    font-family: 'Roboto',sans-serif;
    background-color: #fafafa;
    font-weight: 500;
    text-align: center;
    justify-content: center;
}

/* phần ảnh nền background*/
div.elementor-widget-container{
    background-image: url("../Media/nen1.png");
    background-repeat: no-repeat;
    background-size: 100% ;
    height: 400px;
}/* phần icon (fb,twitter,tiktok...)*/
.header {
    display: flex;
    height: 40px;
    text-align: left;
    background-color: whitesmoke;
    letter-spacing: 4px;
    margin-left: 20px;
}
/*phần nav menu*/
.nav {
    background-color: #fafafa;
    display: flex;
    height: 65px;
    margin-left: 10px;
    box-sizing: border-box;
}
.section{
    width: 100%;
    font-size: 80%;
}
.container{
    float: none;
    margin: 0 auto;
}

.container-1 {
    width: 100%;
    padding: 10px;
    display: flex;
    height: 30px;
}

.container-1>div:nth-child(1) {
    width: 75%;

}

.container-1>div:nth-child(2) {
    width: 25%;
    letter-spacing: 1px;
}
.menu{
    display: flex;
}
.menu li{
    float: left;
    text-align: center;
    margin-right:20px;
}

li{
    list-style: none;
    padding: 15px;
}
img{
    max-width: 20%;
    float: left;
    padding-right: 30px;
}
.sub-arrow {
    line-height: 1;
    padding: 10px 0 10px 10px;
    margin-top: -10px;
    margin-bottom: -10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

ul.menu-1 li a {
    display: flex;
    text-decoration: none;
}

.dropdown {
    display: none;
    width: auto;
    min-width: 10em;
    max-width: 1000px;
    position: absolute;
    border-width: 0;
    border-style: solid;
    padding: 0;
    list-style: none;
    margin: 0;
    background-color: #fff;
    font-size: 13px;
}

li.item {
    border-style: solid;
    border-color: #87878726;
    border-bottom-width: 1px;
    position: relative;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    float: none;

}

li.item a {
    padding: 16px 16px 12px 12px;
    font-size: 16px;
    color: #414141;
    white-space: nowrap;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-shadow: none;
    border-left: 8px solid transparent;
    line-height: 20px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    box-shadow: none;
    text-decoration: none;
}

.dropdown-link:hover .dropdown {
    display: block;
}
/*phần phông chữ trong nền background*/

.elementor-widget-container{
    font-size: larger;
}
.elementor-widget-container>div{
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.text-wrapper {
    text-align: center;
}
.target{
    font-size: 13px;
    color: crimson;
}
.target1{
    font-size: 31px;
}
.target2{
    font-size: 15px;
}
button{
    background: black;
    color: white;
}

.colection {
    background-color: #fafafa;
    text-align: center;
    justify-content: center;
}
.colection-2{
    font-size: 31px;
}
.colection_3{
    font-size: 15px;
}


