    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 13px;
    font-family: 'Roboto',sans-serif;
    background-color: #fafafa;
    font-weight: 600;
    text-align: center;
}

div.elementor-widget-container{
    background-image: url("../Media/nen1.png");
    background-repeat: no-repeat;
    background-size: 100% ;
    height: 400px;
}

li{
    list-style: none;
    padding: 15px;
}
img{
    max-width: 20%;
    float: left;
    padding-right: 30px;
}
.container{
    float: none;
    width: 1200px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.section{
    width: 100%;
    font-size: 90%;
}
.container{
    float: none;
    width: 1300px;
    margin: 0 auto;
}
.menu li{
    float: left;
    text-align: center;
    margin-right:30px;
}
.nav{
    background-color: #fafafa;
    height: 72px;
}
.header {
    text-align: left;
    background-color: whitesmoke;
}

.elementor-widget-container{
    font-size: larger;
}
p{
    font-size: small;
}

.text-wrapper {
    text-align: center;
}

.elementor-widget-container>div {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
